﻿.alt-menu {
    width:10%;
    position:relative;
    float:left;
}

#acilirmenu{
	  display: none; /* Chech boxumuzu buradan görünmez kılıyoruz. */
	}
#menum { display:none; position:absolute; width:100%;	}
#acilirmenu:checked + #menum { display:block;	}


