﻿body {
}

.kisiProfil{
    width:980px;
}

.profil{
    width:980px;
    height:150px;
}

.resimalan{
    width:980px;
    height:500px;
}

ul{
    list-style: none;
    width:980px;
    height:500px;
    display:inline;
}

li{
    display:inline;
    position:relative;
}