﻿@{
    ViewBag.Title = "Index";
}
<h2 style="margin-top:20px;">Burada Ana Sayfa Sayfası Olacaktır.</h2>
<body>
    <h4 style="margin-top:100px;"><b>Ad-Soyad</b>: Nesrin AYÇİÇEK</h4>
    <h4><b>Fakülte</b>: Bilgisayar ve Bilişim Bilimleri Fakültesi</h4>
    <h4><b>Bölüm</b>: Bilgisayar Mühendisliği</h4>
    <h4><b>Öğrenci No</b>: B141210025</h4>
    
</body>
