﻿@{
    ViewBag.Title = "Anasayfa";
}

<link href="content/css/index.css" rel="stylesheet">

    <div class="">
        <div class="col-lg-12">
            <div class="anasayfa" style="width:980px; height:500px;">
                <center>
                   <div class="resim" style="width:450px; margin-bottom:0px;">
                    <img src="~/img/resim.jpg"/>
                    <h1 style="color:#00ff90; font-size:46px; text-align:left;">@Html.ActionLink("Kullanıcı Adı","Profil","Home")</h1>
                    <h2 style="color:#ffd800; font-size:25px; text-align:left;">#mybookside</h2>

                  </div>
                </center>

            </div>
        </div>
    </div>

  