﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Profil Sayfası";
}

<link href="~/Content/Profil.css" rel="stylesheet">

<body>
    <center>
        <div class="kisiProfil">
            <div class="profil">
                <img src="~/img/profil.JPG" style="width:150px; padding:5px; margin-right:20px; border-radius:10px 10px; border:1px solid #eee; height:150px; float:left;"/>
                <h1 style="text-align:left; margin-top:50px;">Kullanıcı Adı</h1>
                <p style="text-align:left;">Kullanıcı Bilgileri</p>
            </div>
            <hr/>
            <div class="resimalan">
                <ul class="resimler" style="list-style:none;">
                    <li class="col-lg-12"><a href="@Url.Action("ResimEkleme","Home")"><img src="~/img/add.png" /></a></li>
                    <li class="col-lg-12"><img src="~/img/resim.jpg" style="width:200px; height:200px;"/></li>
                    <li class="col-lg-12"><img src="~/img/resim.jpg" style="width:200px; height:200px;" /></li>
                    <li class="col-lg-12"><img src="~/img/resim.jpg" style="width:200px; height:200px;" /></li>
                </ul>
            </div>
        </div>
    </center>
</body>

