﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="ekleme" style="width:980px;">
        <div class="col-lg-1" style="width:250px;"><img src="~/img/add.png" style="margin-top:20px;" /></div>
        <div class="col-lg-1" style="width:400px; margin-top:75px;">
            <ul class="butonlar" style="list-style:none;">
                <li style="margin-bottom:10px;">
                    <button style="border-radius:10px 10px; width:150px;">
                        Gözat
                    </button>
                </li>
                <li>
                    <button style="border-radius:10px 10px; width:150px;">
                        Fotoğraf Çek
                    </button>
                </li>
            </ul>
        </div>
        <div class="yazialani" style="width:700px;">
            <textarea  style="width:500px;">Resimle ilgili yazı yazılacak alan..</textarea>
        </div> 
        <br />
        <br />
        <br />
        <center> <button style="border-radius:10px 10px; width:100px;">Kaydet</button> </center>
    </div>
</body>


