﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyBookSide", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="menu" style="float:right; width:200px; height:50px; list-style: none outside none;  margin-top:10px;">

                <li class="col-lg-offset-9 col-lg-1 col-md-offset-8 col-md-1 col-sm-offset-9 col-sm-1 col-xs-4" style="margin-right:5px; width:50px; margin:0px; padding:0px;">
                    <a href="#"><img src="~/img/home.png" style="width:50px; height:50px;" /></a>
                </li> 

                <li class="col-lg-1 col-md-1 col-sm-1 col-xs-4" style="margin-right:5px; width:50px; margin:0px; padding:0px;">
                    <a href="#"><img src="~/img/notification.png" style="width:50px;" /></a>
                </li>

                <li class="col-lg-1 col-md-1" style="width:50px; margin:0px; padding:0px;">
                    <a href="#"><img src="~/img/user.png" style="width:50px;" /></a>
                </li>

            </ul>
        </div>
    </div>
  
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="panel panel-default" style="background-color:cornflowerblue;">
                    <div class="panel-body">
                        <div class="row">
                       
                            @*lg orta*@     <div class="col-lg-4 hidden-md hidden-sm hidden-xs" style="height:100px; margin-top:40px;">
                                <h4 style="margin-left:100px;">2016-MyBookSide</h4>
                            </div>
                           
                            @*md orta*@       <div class="col-md-4 hidden-lg hidden-sm hidden-xs" style="height:100px;">
                                <h4 style="margin-left:60px; margin-top:30px;">2016-MyBookSide</h4>
                            </div>
                            
                            @*sm orta*@    <div class="col-sm-4 hidden-lg hidden-md hidden-xs" style="height:100px;">
                                <h4 style="margin-left:30px; margin-top:30px;">2016-MyBookSide</h4>
                            </div>
                           
                            @*xs orta*@                  <div class="col-xs-3 hidden-lg hidden-md hidden-sm" style="height:100px;"> 
                                <h6 style="margin-left:30px; margin-top:30px;">2016-MyBookSide</h6>
                            </div>
   
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
